{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Über Uns</h1>
            <span class="subheading">Das machen wir</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Ann-Cathrin studiert in Nantes</p>
        <p>Basti studiert in Toronto</p>
        <p>Ingeborg und Bernd reisen mit dem WoMo</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}